
config byedpi 'main'
	option enabled 1

#	if set, all other uci settings are ignored
	option cmd_opts '--split 1 --disorder 3+s --mod-http=h,d --auto=torst --tlsrec 1+s'

#	option ip '0.0.0.0'
#	option port '1080'
#	option transparent 0
#	option max_conn '512'
#	option no_domain 0
#	option no_udp 0
#	option conn_ip '::'
#	option buf_size '16384'
#	option debug '0'
#	option def_ttl ''
#	option tfo 0
#	option auto ''
#	option auto-mode ''
#	option cache_ttl '100800'
#	option timeout ''
#	option proto ''
#	option pf ''
#	option hosts ''
#	option round ''
#	list split ''
#	option disorder ''
#	option oob ''
#	option disoob ''
#	option fake ''
#	option ttl '8'
#	option ip_opt ''
#	option md5sig 0
#	option fake_offset ''
#	option fake_data ''
#	option tls_sni ''
#	option oob_data ''
#	option mod_http ''
#	list tlsrec ''
#	option udp_fake '0'
#	option drop_sack ''
