name: build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.prepare.outputs.tag }}
    strategy:
      matrix:
        branch: [openwrt-19.07, openwrt-21.02, openwrt-22.03, openwrt-23.05]
        arch:
          - aarch64_cortex-a53
          - aarch64_cortex-a72
          - aarch64_generic
          - arm_arm1176jzf-s_vfp
          - arm_arm926ej-s
          - arm_cortex-a15_neon-vfpv4
          - arm_cortex-a5_vfpv4
          - arm_cortex-a7
          - arm_cortex-a7_neon-vfpv4
          - arm_cortex-a7_vfpv4
          - arm_cortex-a8_vfpv3
          - arm_cortex-a9
          - arm_cortex-a9_neon
          - arm_cortex-a9_vfpv3-d16
          - arm_fa526
          - arm_mpcore
          - arm_xscale
          - mips64_octeonplus
          - mips_24kc
          - mips_4kec
          - mips_mips32
          - mipsel_24kc
          - mipsel_24kc_24kf
          - mipsel_74kc
          - mipsel_mips32
          - x86_64
        exclude:
          - branch: openwrt-19.07
            arch: arm_cortex-a7
          - branch: openwrt-19.07
            arch: arm_cortex-a7_vfpv4
          - branch: openwrt-19.07
            arch: mips_4kec
          - branch: openwrt-21.02
            arch: arm_cortex-a7_vfpv4
        include:
          - branch: SNAPSHOT
            arch: x86_64
    container:
      image: openwrt/sdk:${{ matrix.arch }}-${{ matrix.branch }}
      options: --user root
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Prepare build
        id: prepare
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPO: 'hufrea/byedpi'
        shell: bash
        run : |
          TAG=$(wget -qO- --header="Authorization: token $GH_TOKEN" http://api.github.com/repos/$REPO/releases/latest | grep -Po '"tag_name": "\K.+?(?=")')
          sed "s|@VERSION@|${TAG/v}|" -i byedpi/Makefile
          echo "tag=$TAG" >> $GITHUB_OUTPUT

      - name: Build package
        id: build
        working-directory: ${{ matrix.branch == 'openwrt-19.07' && '/home/build/openwrt' || '/builder' }}
        env:
          ARCH: ${{ matrix.arch }}
          BRANCH: ${{ matrix.branch }}
          SIGN_KEY: ${{ secrets.SIGN_PRIVATE_KEY }}
        shell: bash
        run: |
          echo "src-link byedpi $GITHUB_WORKSPACE" >> feeds.conf
          ./scripts/feeds update byedpi
          ./scripts/feeds install -a -p byedpi
          make defconfig
          make package/byedpi/compile V=s -j$(nproc) BUILD_LOG=1
          echo "$SIGN_KEY" | base64 -d > key-build
          make package/index
          tar -C ./bin/packages/*/byedpi -cvf $GITHUB_WORKSPACE/ipk-$BRANCH-$ARCH.tar --transform "s|^\./|${BRANCH/openwrt-}/$ARCH/|" --show-transformed-names .

      - name: Compress build logs
        if: always()
        env:
          ARCH: ${{ matrix.arch }}
          BRANCH: ${{ matrix.branch }}
          LOGS_DIR: ${{ matrix.branch == 'openwrt-19.07' && '/home/build/openwrt/logs' || '/builder/logs' }}
        run: |
          tar -cJvf logs-$BRANCH-$ARCH.tar.xz $LOGS_DIR

      - name: Upload packages
        if: steps.build.outcome == 'success'
        uses: actions/upload-artifact@v4
        with:
          name: ipk-${{ matrix.branch }}-${{ matrix.arch }}
          path: ipk-${{ matrix.branch }}-${{ matrix.arch }}.tar
          if-no-files-found: error

      - name: Upload build logs
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: logs-${{ matrix.branch }}-${{ matrix.arch }}
          path: logs-*.tar.xz

  gh-pages:
    needs: build
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: ipk-*

      - name: Prepare files
        run: |
          mkdir public
          find . -name 'ipk-*.tar' -exec tar -C ./public -xvf {} \;
          cat <<EOF >> public/public.key
          untrusted comment: ByeDPI OpenWrt repo
          RWRT/Cfg5ReIbqWME8QTUQ1FKxp8FTr9M9g1vDsL8uIdRyP5TTNAk4QA
          EOF

      - name: Deploy to GH pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          user_name: 'github-actions[bot]'
          user_email: 'github-actions[bot]@users.noreply.github.com'
          full_commit_message: 'Deploy ${{ needs.build.outputs.tag }}'
          force_orphan: true

  release:
    needs: [build, gh-pages]
    permissions:
      contents: write
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        branch: ['19.07', '21.02', '22.03', '23.05']
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: ipk-*

      - name: Prepare files
        env:
          BRANCH: ${{ matrix.branch }}
        run: |
          find . -name "ipk-openwrt-$BRANCH-*.tar" -exec tar -xvf {} --wildcards '*.ipk' \;

      - name: Upload release assets
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          prerelease: false
          tag: ${{ needs.build.outputs.tag }}-${{ matrix.branch }}
          name: ${{ needs.build.outputs.tag }} for OpenWrt ${{ matrix.branch }}
          body: |
            ### ByeDPI ${{ needs.build.outputs.tag }} for OpenWrt ${{ matrix.branch }}

            -----
            Check the package architecture of your device:
            ```
            # grep ARCH /etc/openwrt_release
            DISTRIB_ARCH='mipsel_24kc'
            ```
          artifacts: ./**/*.ipk
